.note {
    all: initial;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid rgb(191, 191, 191);
    z-index: 2147483646;
    box-shadow: 2px 2px 5px rgba(33, 33, 33, .7);
    min-height: 100px;
    min-width: 100px;
}

.note-selected {
    z-index: 2147483647;
}

.note-hidden {
    display: none;
}

.note textarea {
    all: initial;
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 3px;
    height: 100%;
    border: 1px solid transparent;
    resize: none;
}

.note textarea:focus {
    border: 1px dotted rgb(160, 160, 160);
}

.note header {
    all: initial;
    min-height: 30px;
    cursor: grab;
    user-select: none;
}

.note .note-remove {
    all: initial;
    position: absolute;
    right: 0px;
    top: 2px;
    padding: 5px;
    opacity: .5;
    cursor: pointer;
    user-select: none;
}

.note .note-anchor {
    all: initial;
    position: absolute;
    left: 0px;
    top: 2px;
    padding: 5px;
    opacity: .25;
    cursor: pointer;
}

.note .note-resize {
    all: initial;
    position: absolute;
    bottom: -5px;
    right: -5px;
    height: 15px;
    width: 15px;
    cursor: nwse-resize;
    user-select: none;
}

.note .note-remove:hover {
    opacity: 1;
}

.note .note-anchor:hover {
    opacity: .5;
}

.note-anchored .note-anchor {
    opacity: .5;
}

.note-anchored .note-anchor:hover {
    opacity: 1;
}

.note-moving {
    opacity: .5;
}

.note-moving * {
    cursor: grabbing;
}

.note-yellow header {
    background-color: #f5f545;
}

.note-yellow textarea {
    background-color: #ffff7c;
}

.note-pink header {
    background-color: #ffa59f;
}

.note-pink textarea {
    background-color: #ffbbb6;
}

.note-blue header {
    background-color: #84c8ff;
}

.note-blue textarea {
    background-color: #95d0ff;
}

.note-green header {
    background-color: #93ef8d;
}

.note-green textarea {
    background-color: #9cff95;
}