body {
	background-color: #eee;
}

body>div {
	background-color: #fff;
	font-family: sans-serif;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	text-align: justify;
	-webkit-box-shadow: #888 2px 2px 2px;
}

div>object {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-left: auto;
}

.option {
	font-size: 16px;
	font-style: normal;
	font-family: sans-serif;
	color: graytext;
}

.notice {
	font-style: italic;
	font-family: serif;
	font-size: 1.1em;
}

ol {
	-webkit-padding-start: 30px;
	margin: 0px;
	padding-right: 10px;
}

ol>li {
	padding-top: 2em;	
}

a[name] {
	font-weight: bold;
}

ol>li>ul>li {
	padding-top: .5em;
}

#icon {
	height: 1em;
}

#titleIcon {
	width: 1.2em;
	height: 1.2em;
}

.screenshot {
	background-image: url(../resources/options_screen.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 341px;
}

#title {
	padding-left: .3em;
	vertical-align: top;
}

#titleBorder {
	margin-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

#index {
	padding-left: 10px;
	font-size: .7em;
}

h2,h4 {
	padding-left: .3em;
	margin-bottom: 0px;
}