.note-mask {
    all: initial;
    position: fixed;
    z-index: 2147483645;
    pointer-events: none;
    background-color: transparent;
    transition: background-color 125ms;
}

.note-mask-moving.note-yellow {
    background-color: rgba(255, 255, 124, .3);
}

.note-mask-moving.note-pink {
    background-color: rgba(255, 187, 182, .3);
}

.note-mask-moving.note-blue {
    background-color: rgba(149, 208, 255, .3);
}

.note-mask-moving.note-green {
    background-color: rgba(156, 255, 149, .3);
}

.page-mask {
    all: initial;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 2147483646;
}

.page-mask-active {
    width: 100vw;
    height: 100vh;
}