body {
    background-color: #fff;
}

body>div {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: sans-serif;
    text-align: justify;
    max-width: 600px;
}

button {
    background: white;
    border-color: rgb(191, 191, 191);
    border-style: solid;
    height: 25px;
    border-radius: 2px;
}

button:active {
    border-color: rgb(237, 237, 237);
}

#popupContent {
    height: auto;
    padding-right: 5px;
}

#popupContent .option {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#popupContent .bottom {
    padding-top: 20px;
}

input[type="checkbox"] {
    margin-left: 30px;
    position: relative;
    top: -2px;
}

input[type="number"] {
    margin-left: 30px;
    max-width: 40px;
    text-align: right;
    position: relative;
    top: -2px;
}

button {
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    margin-bottom: 14px;
    margin-top: 14px;
}

h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    display: inline-block;
    padding-top: 5px;
}

#reloadButton {
    background: lightGrey;
    margin-left: 5px;
}