body {
    background-color: transparent;
    font-family: sans-serif;
    max-width: 800px;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
}

button,
select,
input[type=text] {
    background-color: transparent;
    border-color: rgb(191, 191, 191);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
}

button:active {
    border-color: rgb(237, 237, 237);
}

input {
    margin-left: 5px;
}

label,
input {
    align-self: center;
}

input[type="text"] {
    min-width: 70%;
}

input[type="number"] {
    max-width: 40px;
}

input.large-input {
    min-width: 60px;
}

h3 {
    padding-left: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profiles {
    float: right;
    margin-right: 12px;
    position: relative;
    top: -3px;
    max-width: calc(100% - 100px);
}

.rules-table-container {
    width: 100%;
    border-spacing: 0;
    border-color: rgb(191, 191, 191);
    border-style: solid;
    border-width: 1px;
    margin-top: 24px;
}

.rules-table-container .tr {
    height: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 56px;
}

.rules-table-container.compact .tr {
    grid-template-columns: 1fr 1fr 56px;
}

.rules-table-container.compact .tr .rule-autosave-profile {
    display: none;
}

.rules-table-container .tr[hidden] {
    display: none;
}

.rules-table-container .th {
    text-align: left;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-width: 0;
    border-bottom-width: 1px;
}

.rules-table-container .th,
.rules-table-container .td {
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    align-self: center;
}

.rules-table .td:first-of-type {
    padding-right: 8px;
}

.rules-table .td:last-of-type {
    text-align: right;
}

.rules-data {
    max-height: 552px;
    overflow-y: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    scrollbar-width: thin;
}

.rules-data::-webkit-scrollbar {
    width: 6px;
    background-color: #cdcdcd;
}

.profiles button,
.rules-table button {
    padding: 0;
    margin: 0;
    width: 22px;
    text-align: center;
}

.profiles button,
.profiles select,
.rules-table button,
.rules-table select,
.rules-table input {
    height: 22px;
    vertical-align: top;
}

.rules-table input {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.rules-table .rule-create {
    margin-top: 8px;
}

.profiles select {
    max-width: calc(100% - 78px);
}

.rules-table select {
    max-width: 100%;
}

.profiles button:disabled,
.rules-table-container button:disabled {
    opacity: .25;
}

.profiles button>img,
.rules-table button>img {
    width: 14px;
    height: auto;
    vertical-align: middle;
    padding: 2px;
}

.rules-table-container+.option label,
.rules-table-container+.option+.option label {
    text-align: right;
    width: 100%;
}

#profilesLabel {
    font-weight: normal;
    padding-top: 5px;
    margin-right: 5px;
}

details {
    margin-left: 12px;
    margin-right: 12px;
    border-top: gray 1px dashed;
}

details:last-of-type {
    border-bottom: gray 1px dashed;
}

details>summary {
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

details>summary:focus {
    outline-width: 0px;
}

a {
    display: inline-block;
    padding-top: 5px;
}

.option.second-level {
    margin-left: 10px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-left: 12px;
    min-height: 24px;
}

.option.vertical {
    flex-direction: column;
}

.option.vertical label {
    align-self: flex-start;
}

.option.vertical input {
    margin-top: 3px;
    align-self: flex-end;
    width: calc(100% - 3px);
}

.option:last-of-type {
    padding-bottom: 12px;
}

.option:first-of-type {
    padding-top: 6px;
}

.option.bottom {
    padding-top: 24px;
    padding-right: 12px;
}

#expandAllButton {
    opacity: .3;
    transition: opacity 250ms;
    cursor: pointer;
    font-size: .9em;
    position: relative;
    top: -1px;
    left: -3px;
}

#expandAllButton::after {
    content: '▷';
}

#expandAllButton.opened::after {
    content: '▽';
    position: relative;
    top: 1px;
}

#expandAllButton:hover {
    opacity: 1;
}

@media (max-width:400px) {
    body {
        font-size: 11px;
    }
    body,
    input {
        font-size: 12px;
    }
}