body {
    box-sizing: border-box;
    padding: 0px;
    background-color: transparent;
    font-family: sans-serif;
    text-align: justify;
    max-width: 800px;
    height: auto;
}

button {
    background-color: transparent;
    border-color: rgb(191, 191, 191);
    border-style: solid;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 1px;
}

button:active {
    border-color: rgb(237, 237, 237);
}

input[type="checkbox"] {
    margin-left: 30px;
    position: relative;
    align-self: flex-start;
}

input[type="number"] {
    margin-left: 30px;
    max-width: 40px;
    text-align: right;
    position: relative;
    top: -2px;
}

h3 {
    padding-left: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}

details {
    margin-left: 12px;
    margin-right: 12px;
    border-top: gray 1px dashed;
}

details:last-of-type {
    border-bottom: gray 1px dashed;
}

details>summary {
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 340px;
    cursor: pointer;
}

details>summary:focus {
    outline-width: 0px;
}

a {
    display: inline-block;
    padding-top: 5px;
}

.option.second-level {
    margin-left: 10px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding-left: 12px;
}

.option:last-of-type {
    padding-bottom: 12px;
}

.option:first-of-type {
    padding-top: 6px;
}

.option.bottom {
    padding-top: 24px;
    padding-right: 12px;
}