body {
	background-color: #eee;
}

body>div {
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	background-color: #fff;
	font-family: sans-serif;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: justify;
	box-shadow: #888 2px 2px 2px;
}

#icon {
	width: 1em;
	padding-right: .3em;
}

button {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0.12, rgb(201
		, 201, 201) ), color-stop(0.79, rgb(247, 247, 247) ) );
	border-color: rgb(191, 191, 191);
	border-style: solid;
	height: 25px;
	border-radius: 4px;
}

button:active {
	border-color: rgb(237, 237, 237);
}

#popupContent {
	height: auto;
	padding-right: 5px;
}

#popupContent .option {
	margin-left: 5px;
	margin-bottom: 12px;
}

input[type="checkbox"],button,input[type="text"],input[type="number"] {
	float: right;
	margin: 1px 0px;
}

input[type="checkbox"] {
	margin-top: 4px;
}

input[type="number"] {
	width: 40px;
	text-align: right;
	padding-right: 2px;
}

button {
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	margin-bottom: 14px;
	margin-top: 14px;
}

h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}

a {
	display: inline-block;
	padding-top: 5px;
}

#reloadButton {
	background: lightGrey;
	bottom: 0px;
	margin: 5px;
	position: absolute;
	right: 0px;
}

.help {
	font-size: 9pt;
	color: LightSlateGrey;
	display: none;	
}

.help p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.question-mark {
	padding-left: 4px;
	cursor: pointer;
	opacity: .5;
}

.question-mark:hover {
	opacity: .8;
}