body {
	overflow: hidden;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, rgb(253,
		237, 166) ), color-stop(1, rgb(250, 229, 146) ) );
	background-repeat: repeat-x;
	color: black;
	font-family: Arial;
	font-size: 11pt;
}

.link {
	text-decoration: none;
	padding-left: 20px;
	margin-top: 5px;
}

.link:hover {
	text-decoration: underline;
}

.link::before {
	background-image: url(../resources/icon_19_save.png);
	height: 19px;
	width: 19px;
	content: " ";
	display: inline-block;
	position: relative;
	top: 3px;
	left: -14px;
}

.filename-container {
	position: absolute;
	padding: 2px;
	right: 50px;
	top: 8px;
	opacity: .5;
	-webkit-transition: opacity 250ms;
}

.filename-container:hover {
	opacity: 1;
}

.filename {
	padding: 2px;
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.filename[contenteditable=true] {
	background-color: #fff8d6;
}

.edit {
	padding-left: 5px;
}

.close-button {
	text-shadow: 1px 1px #333;
	display: inline-block;
	height: 14px;
	width: 14px;
	background-image: url(../resources/icon_close.png);
	font-family: sans-serif;
	font-weight: bold;
	opacity: .4;
	position: absolute;
	right: 6px;
	top: 10px;
	cursor: default;
}

.close-button:hover {
	-webkit-transition: opacity .2s ease-out;
	opacity: 1;
}